[Unit]
Description=Etcd config watcher
After=pcsd.service

[Service]
ExecStart=/usr/bin/pcs-etcd watch
EnvironmentFile=/etc/sysconfig/my_ip
EnvironmentFile=/etc/sysconfig/etcd

[Install]
WantedBy=multi-user.target
