[Unit]
Description=Set config options with crmsh
After=pcsd_setup.service

[Service]
WorkingDirectory=/var/lib/pcsd
ExecStart=/usr/sbin/crm configure load update /tmp/cib.txt
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
