[Unit]
Description=Setup PCS cluster
After=pcsd.service

[Service]
WorkingDirectory=/var/lib/pcsd
ExecStart=/usr/local/bin/setup_cluster.sh
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
